

body {
  background-color:none;
  text-decoration-color: black;
 }

.col1{background-color: yellow;}
.col2{background-color: grey;}
.col3{background-color: pink;}


.col1,.col2,.col3{

		text-align: center;
		font-weight: bold;
		font-style: Sans-serif;
		border-style: solid;
		border-radius: 2px;
		
		
}
.introduction{
	background-color:rgb(170,50,50);
	border-style: solid;
	border-radius:  5px;
	padding:50px;
	margin-right: 5px;


}
.aside{
	float-margin:right; 
	background-color:red;
	padding:5px;
	margin-left: 5px;
	border-style: solid;
	border-radius: 5px;
}

.more{
	background-color:rgba(100,50,20,0.5);
	border-style: solid;
	border-radius: 5px;
}


.last1,.last2,.last3,.last4,.last5,.last6{
	border-style: solid;
	border-radius: 5px;
	
	
}

.last1{
	background-color: purple;
	
}

.last2{
	background-color: blue;
	
}


.last3{
	background-color: aqua;
	}
.last4{
	background-color:white;
	
}
.last5{
	background-color: red;
	
}
.last6{

	background-color: yellow;
	

}


	
footer{
	text-align: center;
	text-transform: italic;
}